{{> header}}

{{#if loggedIn}}

<section id="home-logged">
  <section class="first-section">
    <section class="background-container">
      <form action="#/create-post" method="post">
        <h1>Create Post</h1>
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="category">Category</label>
        <input type="text" name="category">
        <label for="content">Content</label>
        <textarea name="content" cols="30" rows="7", placeholder="Моля кликнете 2 пъти на бутона Submit, за да създадете пост. Ako се кликне само веднъж , бутона не работи... Създадените постовете се виждат след scroll надолу."></textarea>
        <button>Submit</button>
      </form>
    </section>
  </section>

  {{#if posts}}
  <section class="second-section">
    <h3>Posts</h3>
    <hr>
    <div class="posts-row">
      {{#each posts}}
      <article class="post">
        <h1>{{title}}</h1>
        <h2><span>{{category}}</span></h2>
        <p>{{content}}</p>
        <a href="#/delete/{{postId}}" id="delete-button">Delete</a>
        <a href="#/details/{{postId}}" id="details-button">Details</a>
        <a href="#/edit/{{postId}}" id="edit-button">Edit</a>
      </article>
      {{/each}}
    </div>
  </section>
</section>
{{/if}}

{{/if}}

{{#unless loggedIn}}
<section id="home">
  <section class="background-container">
    <h1>Welcome to MyBlog!</h1>
    <div class="auth-buttons">
      <a href="#/login">Login</a>
      <a href="#/register">Register</a>
    </div>
  </section>
</section>
{{/unless}}

{{> footer}}